.cm-s-cobalt { background: #002240; color: white;font-family:"lucida console","Courier New",monospace !important;font-size:13px;line-height:1.3em;}

.cm-s-cobalt .CodeMirror-activeline-background{background:#135 !important;} /* 当前行背景色 */
.cm-s-cobalt .CodeMirror-matchingbracket {color:#f00 !important;background:#ff0 !important;}
.cm-s-cobalt .CodeMirror-nonmatchingbracket { color: #f22; }


.cm-s-cobalt div.CodeMirror-selected { background: #258 !important;}
.cm-s-cobalt .CodeMirror-gutter { background: #025; border-right: 1px solid #246;padding-right:3px; }
.cm-s-cobalt .CodeMirror-gutter-text { color: #d0d0d0; }
.cm-s-cobalt .CodeMirror-cursor { border-left: 2px solid white !important; }

.cm-s-cobalt span.cm-comment { color: #08f; }
.cm-s-cobalt span.cm-atom { color: #845dc4; }
.cm-s-cobalt span.cm-number, .cm-s-cobalt span.cm-attribute { color: #ff80e1; }
.cm-s-cobalt span.cm-keyword { color: #ffee80; }
.cm-s-cobalt span.cm-string { color: #3ad900; }
.cm-s-cobalt span.cm-meta { color: #ff9d00; }
.cm-s-cobalt span.cm-variable-2, .cm-s-cobalt span.cm-tag { color: #9effff; }
.cm-s-cobalt span.cm-variable-3, .cm-s-cobalt span.cm-def { color: white; }
.cm-s-cobalt span.cm-error { color: #9d1e15; }
.cm-s-cobalt span.cm-bracket { color: #d8d8d8; }
.cm-s-cobalt span.cm-builtin, .cm-s-cobalt span.cm-special { color: #ff9e59; }
.cm-s-cobalt span.cm-link { color: #845dc4; }
