.cm-s-eclipse{
	font-family: "Consolas","Courier New",Courier,monospace !important;
	font-size:15px;
	line-height:1.3em;
}
.cm-s-eclipse .CodeMirror-gutter {
	background: #F8F8F8;
	border-right: solid #6CE26C 3px;
	padding:0 3px 0 5px;
}
.cm-s-eclipse .CodeMirror-cursor { border-left: 2px solid #226 !important; }
.cm-s-eclipse .CodeMirror-activeline-background{background:#fefee6 !important;} /* 当前行背景色 */
.cm-s-eclipse div.CodeMirror-selected {background: #ddd !important;}
.cm-s-eclipse .CodeMirror-matchingbracket {
	background:#8ef;
	color:#22c !important;;
}

.cm-s-eclipse span.cm-meta {color: #FF1717;}
.cm-s-eclipse span.cm-keyword { line-height: 1em; font-weight: bold; color: #7F0055; }
.cm-s-eclipse span.cm-atom {color: #f00;}
.cm-s-eclipse span.cm-number {color: #164;}
.cm-s-eclipse span.cm-def {color: #00f;}
.cm-s-eclipse span.cm-variable {color: #7F0055 !important;}
.cm-s-eclipse span.cm-variable-2 {color: #0000C0;}
.cm-s-eclipse span.cm-variable-3 {color: #0000C0;}
.cm-s-eclipse span.cm-property {color: #f66;}
.cm-s-eclipse span.cm-operator {color: #22c;}
.cm-s-eclipse span.cm-comment {color: #40AA53;}
.cm-s-eclipse span.cm-string {color: #ff39ff;}
.cm-s-eclipse span.cm-string-2 {color: #f96;}
.cm-s-eclipse span.cm-error {color: #f00;}
.cm-s-eclipse span.cm-qualifier {color: #555;}
.cm-s-eclipse span.cm-builtin {color: #30a;}
.cm-s-eclipse span.cm-bracket {color: #cc7;}
.cm-s-eclipse span.cm-tag {color: #00f;}
.cm-s-eclipse span.cm-attribute {color: #f06;}
.cm-s-eclipse span.cm-link {color: #219;}
