/* Based on Sublime Text's Monokai theme */
.cm-s-monokai {background: #272822; color: #f8f8f2;font-family: Monaco, Menlo,"Andale Mono","lucida console","Courier New",monospace !important;font-size:13px;line-height:1.3em;
text-shadow: 0 -1px 3px #553;
}

.cm-s-monokai .CodeMirror-activeline-background{background:#333 !important;} /* 当前行背景色 */
.cm-s-monokai div.CodeMirror-selected {background: #665 !important;}
.cm-s-monokai .CodeMirror-gutter {
  background: #3D3D3D;
  padding: 0 5px;
  text-shadow: #333 1px 1px;
  border-right: 1px solid #4D4D4D;
  box-shadow: 0 10px 20px black;
}

.cm-s-monokai .CodeMirror-gutter-text {color: #d0d0d0;}
.cm-s-monokai .CodeMirror-cursor {border-left: 2px solid #f8f8f0 !important;}

.cm-s-monokai span.cm-comment {color: #75715e;}
.cm-s-monokai span.cm-atom {color: #ae81ff;}
.cm-s-monokai span.cm-number {color: #ae81ff;}

.cm-s-monokai span.cm-property, .cm-s-monokai span.cm-attribute {color: #a6e22e;}
.cm-s-monokai span.cm-keyword {color: #f92672;}
.cm-s-monokai span.cm-string {color: #e6db74;}

.cm-s-monokai span.cm-variable {color: #a6e22e;}
.cm-s-monokai span.cm-variable-2 {color: #9effff;}
.cm-s-monokai span.cm-def {color: #fd971f;}
.cm-s-monokai span.cm-error {background: #f92672; color: #f8f8f0;}
.cm-s-monokai span.cm-bracket {color: #f8f8f2;}
.cm-s-monokai span.cm-tag {color: #f92672;}
.cm-s-monokai span.cm-link {color: #ae81ff;}

.cm-s-monokai .CodeMirror-matchingbracket {
  text-decoration: underline;
  background:#f4f;
  color: white !important;
}
