body {
  font-size: 13px;
  padding: 0px;
  margin: 0px;
  font-family: "微软雅黑", "Microsoft Yahei", "STXihei", arial, sans-serif;
}
textarea,
input,
button {
  font-family: "微软雅黑", "Microsoft Yahei", "STXihei", arial, sans-serif;
}
.frame_fullscreen {
  position: fixed;
  z-index: 999499;
  left: 0;
  top: 0;
}
.font-icon {
  text-shadow: 0 0 1px;
}
/*--------------------------*/
/* 渐变色 */
/* 动画 */
/* 颜色微调【同样颜色灰度值调节】 */
::-webkit-scrollbar-track-piece {
  background-color: #f5f5f5;
  border-left: 1px solid #d2d2d2;
}
::-webkit-scrollbar {
  width: 12px;
  height: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: #c2c2c2;
  background-clip: padding-box;
  border: 1px solid #979797;
  min-height: 28px;
}
::-webkit-scrollbar-thumb:hover {
  border: 1px solid #636363;
  background-color: #929292;
}
body {
  font-size: 13px;
  padding: 0px;
  margin: 0px;
  font-family: "微软雅黑";
  -khtml-user-select: none;
  -webkit-user-select: none;
  /* Chrome all / Safari all */

  -moz-user-select: none;
  /* Firefox all */

  -ms-user-select: none;
  /* IE 10+ */

  -o-user-select: none;
  user-select: none;
}
.navbar {
  width: 100%;
  height: 40px;
  color: #ddd;
  z-index: 100;
  background: #47a1ca url(../../../images/topBanner.jpg) repeat-x;
  position: fixed;
  box-shadow: 0 -20px 50px #000000;
}
.navbar .content {
  padding: 0px;
  line-height: 38px;
}
.navbar .content i {
  display: inline-block;
  padding-right: 10px;
  text-shadow: 0 0 1px;
  font-size: 1.1em;
}
.navbar .content a {
  display: block;
  text-decoration: none;
  color: #fff;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -ms-transition: all 0.2s;
  transition: all 0.2s;
  padding: 0px 1.5em;
}
.navbar .content ul.dropmenu {
  list-style: none;
  padding: 0;
  margin: 0;
  padding: 5px 0 0px;
  position: absolute;
  top: 38px;
  z-index: 9999;
  background: #fff;
  color: #666;
  display: none;
  border: 1px solid #ddd;
  box-shadow: 0 2px 5px #ccc;
  border-top: none;
}
.navbar .content ul.dropmenu li {
  height: 30px;
  margin: 0;
  padding: 0;
  line-height: 30px;
}
.navbar .content ul.dropmenu li a {
  margin: 0;
  padding-left: 30px;
  width: 100px;
  border: none;
  color: #666;
}
.navbar .content ul.dropmenu li a:hover {
  background: #ddd;
  color: #000;
}
.navbar .content .top_left a {
  float: left;
  border-right: 1px solid;
  margin-left: -1px;
  border-left: 1px solid;
  border-color: #60a8ca;
}
.navbar .content .top_left a:hover,
.navbar .content .top_left a.this {
  background: #307fa4;
}
.navbar .content .top_left a.title {
  font-size: 18px;
  font-weight: 800;
  width: 150px;
  padding-left: 49px;
  padding-right: 0;
}
.navbar .content .top_left a.title:hover {
  background: none;
}
.navbar .content .top_right {
  float: right;
  margin-right: 10px;
}
.navbar .content .top_right .topbar_user {
  margin-top: 5px;
  line-height: 32px;
  -ms-transition: none;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
}
.navbar .content .top_right.this .topbar_user {
  color: #555;
  background: #fff;
  border: 1px solid #ddd;
  margin-top: 5px;
}
.navbar .content .top_right ul.dropmenu {
  right: 10px;
  height: 180px;
}
.messageBox {
  position: absolute;
  top: 15%;
  left: 0px;
  z-index: 88;
  background: #000;
  color: #fff;
  opacity: 0.7;
  filter: alpha(opacity=70);
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
  -webkit-box-shadow: 0 10px 80px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0 10px 80px rgba(0, 0, 0, 0.6);
  box-shadow: 0 10px 80px rgba(0, 0, 0, 0.6);
  display: none;
}
.messageBox .content {
  padding: 10px 30px;
  line-height: 20px;
  width: auto;
}
.aui_outer {
  text-align: left;
}
.aui_mask {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #fff;
  opacity: 0.01;
}
.aui_loading {
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 40px;
  z-index: 9999;
  text-align: center;
  text-indent: -999em;
  background: url(../../../images/dialog_loading.gif) no-repeat center center;
}
table.aui_border,
table.aui_dialog {
  border: 0;
  margin: 0;
  border-collapse: collapse;
  width: 100%;
}
.aui_nw,
.aui_n,
.aui_ne,
.aui_w,
.aui_c,
.aui_e,
.aui_sw,
.aui_s,
.aui_se,
.aui_header,
.aui_tdIcon,
.aui_main,
.aui_footer {
  padding: 0;
}
.aui_header,
.aui_buttons button {
  font: 12px;
}
.aui_title {
  overflow: hidden;
  text-overflow: ellipsis;
}
.aui_state_noTitle .aui_title {
  display: none;
}
.aui_close {
  display: block;
  position: absolute;
  text-decoration: none;
  outline: none;
  _cursor: pointer;
}
.aui_close:hover {
  text-decoration: none;
}
.aui_main {
  text-align: center;
  min-width: 9em;
  min-width: 0 \9;
}
.aui_content {
  text-align: left;
  font-size: 14px;
  color: #666;
  border: none 0;
  display: block;
  width: 100%;
  height: 100%;
  overflow: auto;
}
.aui_content.aui_state_full {
  display: block;
  width: 100%;
  margin: 0;
  padding: 0!important;
  height: 100%;
}
.aui_icon {
  vertical-align: middle;
}
.aui_icon div {
  width: 48px;
  height: 48px;
  margin: 10px 0 10px 10px;
  background-position: center center;
  background-repeat: no-repeat;
}
.aui_buttons {
  padding: 8px;
  text-align: right;
  white-space: nowrap;
  background: #f6f6f6;
  border-top: 1px solid #eee;
  border-radius: 0px 0px 3px 3px;
}
.aui_buttons button {
  margin-left: 15px;
  padding: 6px 8px;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  line-height: 1;
  letter-spacing: 2px;
  width: auto;
  overflow: visible;
  color: #333;
  border: solid 1px #999;
  border-radius: 5px;
  background: #DDD;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#DDDDDD'); background: linear-gradient(top, #FFF, #DDD);
  background: -moz-linear-gradient(top, #ffffff, #dddddd);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ffffff), to(#dddddd));
  text-shadow: 0px 1px 1px #ffffff;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.7), 0 -1px 0 rgba(0, 0, 0, 0.09);
  -moz-transition: -moz-box-shadow linear 0.2s;
  -webkit-transition: -webkit-box-shadow linear 0.2s;
  transition: box-shadow linear 0.2s;
}
.aui_buttons button::-moz-focus-inner {
  border: 0;
  padding: 0;
  margin: 0;
}
.aui_buttons button:focus {
  outline: none 0;
  border-color: #426DC9;
  box-shadow: 0 0 8px rgba(66, 109, 201, 0.9);
}
.aui_buttons button:hover {
  color: #000;
  border-color: #666;
}
.aui_buttons button:active {
  border-color: #666;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#DDDDDD', endColorstr='#FFFFFF');
  background: linear-gradient(top, #dddddd, #ffffff);
  background: -moz-linear-gradient(top, #dddddd, #ffffff);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#dddddd), to(#ffffff));
  box-shadow: inset 0 1px 5px rgba(66, 109, 201, 0.9), inset 0 1px 1em rgba(0, 0, 0, 0.3);
}
.aui_buttons button[disabled] {
  cursor: default;
  color: #666;
  background: #DDD;
  border: solid 1px #999;
  opacity: 0.5;
  filter: alpha(opacity=50);
  box-shadow: none;
}
button.aui_state_highlight {
  color: #FFF;
  border: solid 1px #1c6a9e;
  background: #2288cc;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#33bbee', endColorstr='#2288cc');
  background: linear-gradient(top, #33bbee, #2288cc);
  background: -moz-linear-gradient(top, #33bbee, #2288cc);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#33bbee), to(#2288cc));
  text-shadow: -1px -1px 1px #1c6a9e;
}
button.aui_state_highlight:hover {
  color: #FFF;
  border-color: #0F3A56;
}
button.aui_state_highlight:active {
  border-color: #1c6a9e;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#33bbee', endColorstr='#2288cc');
  background: linear-gradient(top, #33bbee, #2288cc);
  background: -moz-linear-gradient(top, #33bbee, #2288cc);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#33bbee), to(#2288cc));
}
/* common end */
.aui_inner {
  background: rgba(0, 0, 0, 0.7);
}
.aui_dialog {
  background: #FFF;
  border-radius: 2px;
}
.aui_outer {
  border: 1px solid #777;
  border-radius: 5px;
  box-shadow: 0 0px 15px rgba(0, 0, 0, 0.4);
}
.aui_state_lock .aui_outer {
  box-shadow: 0 3px 26px rgba(0, 0, 0, 0.9);
}
.aui_border {
  border-radius: 3px;
}
.aui_nw,
.aui_ne {
  width: 5px;
  height: 37px;
}
.aui_sw,
.aui_se {
  width: 5px;
  height: 5px;
}
.aui_nw,
.aui_n,
.aui_ne,
.aui_w,
.aui_e,
.aui_sw,
.aui_s,
.aui_se {
  background: #000000 \9 !important;
  background: #000;
  opacity: 0.5;
  filter: alpha(opacity=50);
}
/*所有边框颜色*/
.aui_state_focus .aui_mask {
  display: none;
}
.aui_titleBar {
  width: 100%;
  height: 0;
  position: relative;
  bottom: 33px;
  _bottom: 0;
  _margin-top: -33px;
}
.aui_title {
  height: 27px;
  line-height: 27px;
  padding: 0 16px 0 5px;
  color: #FFF;
  font-weight: 700;
  text-shadow: 0 1px 0 #000;
}
.aui_min,
.aui_max,
.aui_close {
  display: block;
  position: absolute;
  text-decoration: none;
  outline: none;
  cursor: pointer;
  color: #EBEBEB;
  top: 0px;
  border: 1px solid transparent;
  _border: 0 none;
  height: 20px;
  width: 20px;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  font-family: Arial, sans-serif;
  background: #666;
  border-radius: 10px;
}
.aui_min:hover,
.aui_max:hover,
.aui_close:hover {
  background: #C72015;
  border: 1px solid #000;
  _border: 0 none;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3), inset 0 1px 0 rgba(255, 255, 255, 0.3);
}
.aui_min:active,
.aui_max:active,
.aui_close:active {
  box-shadow: none;
  background: #f00;
}
.aui_max,
.aui_min {
  display: none;
  font-size: 16px;
}
.aui_min {
  right: 65px;
  line-height: 22px;
}
.aui_max {
  right: 35px;
  line-height: 14px;
}
.aui_close {
  right: 5px;
}
.aui_state_noTitle .aui_nw,
.aui_state_noTitle .aui_ne,
.aui_state_noTitle .aui_sw,
.aui_state_noTitle .aui_se {
  width: 5px;
  height: 5px;
}
.aui_state_noTitle .aui_titleBar {
  bottom: 0;
  _bottom: 0;
  _margin-top: 0;
}
.aui_state_noTitle .aui_outer {
  box-shadow: none;
  border: none;
}
.aui_state_noTitle .aui_inner {
  border: 1px solid #ddd;
  background: none;
}
.aui_state_noTitle .tips {
  font-size: 14px;
  padding: 15px;
  padding-left: 10px;
}
.aui_state_noTitle .aui_nw,
.aui_state_noTitle .aui_n,
.aui_state_noTitle .aui_ne,
.aui_state_noTitle .aui_w,
.aui_state_noTitle .aui_e,
.aui_state_noTitle .aui_sw,
.aui_state_noTitle .aui_s,
.aui_state_noTitle .aui_se {
  background: rgba(0, 0, 0, 0.1);
  background: #000000 \9 !important;
  filter: alpha(opacity=10)!important;
}
.aui_state_noTitle .aui_content {
  line-height: 50px;
}
.aui_state_noTitle .aui_close,
.aui_state_noTitle .aui_max,
.aui_state_noTitle .aui_min {
  display: none;
  font-size: 13px;
}
/*------------最大化最小化，窗口大小调整-----------*/
.dialogMax .aui_nw,
.dialogMax .aui_ne,
.dialogMax .aui_sw,
.dialogMax .aui_se,
.dialogMax .aui_w,
.dialogMax .aui_e {
  width: 0px;
}
.dialogMax .aui_sw,
.dialogMax .aui_n,
.dialogMax .aui_se {
  height: 0px;
}
.dialogMax .aui_outer {
  border: none;
}
.dialog-can-resize .resize-handle {
  position: absolute;
  font-size: 0.1px;
  z-index: 99999;
  display: block;
}
.dialog-can-resize .resize-top {
  z-index: 0;
  cursor: n-resize;
  height: 7px;
  width: 100%;
  top: 0px;
  left: -4px;
}
.dialog-can-resize .resize-bottom {
  z-index: 0;
  cursor: s-resize;
  height: 7px;
  width: 100%;
  bottom: 0px;
  left: -4px;
}
.dialog-can-resize .resize-right {
  z-index: 0;
  cursor: e-resize;
  width: 7px;
  right: 0px;
  top: 0;
  height: 100%;
}
.dialog-can-resize .resize-left {
  z-index: 0;
  cursor: w-resize;
  width: 7px;
  left: 0px;
  top: 0;
  height: 100%;
}
.dialog-can-resize .resize-bottom-right {
  cursor: se-resize;
  width: 18px;
  height: 18px;
  right: -5px;
  bottom: -5px;
  background: url('./images/resize_corner.png') no-repeat;
}
.dialog-can-resize .resize-bottom-left {
  cursor: sw-resize;
  width: 15px;
  height: 15px;
  left: -5px;
  bottom: -5px;
}
.dialog-can-resize .resize-top-left {
  cursor: nw-resize;
  width: 15px;
  height: 15px;
  left: -5px;
  top: -5px;
}
.dialog-can-resize .resize-top-right {
  cursor: ne-resize;
  width: 15px;
  height: 15px;
  right: -5px;
  top: -5px;
}
.dialog-can-resize .aui_min,
.dialog-can-resize .aui_max {
  display: block;
}
/*----------------------- dialog ------------------------------*/
/* 文件属性样式*/
.pathinfo {
  font-size: 13px;
  width: 330px;
  height: 280px;
  padding: 15px 0 15px 0;
  color: #446;
}
.pathinfo .line {
  width: 95%;
  margin: 8px auto 8px auto;
  height: 0px;
  border-bottom: 1px solid #ccc;
}
.pathinfo .p {
  margin-left: 6px;
  margin-bottom: 5px;
}
.pathinfo .p .icon {
  width: 40px;
  height: 40px;
  float: left;
  border: 1px solid #f6f6f6;
  margin-left: 10px;
}
.pathinfo .p .file_icon {
  background: url(./images/file.png) 5px 4px no-repeat;
}
.pathinfo .p .folder_icon {
  background: url(./images/folder.png) 5px 4px no-repeat;
}
.pathinfo .p input {
  padding: 2px;
  padding-left: 10px;
  border: 1px solid #ccc;
  height: 25px;
  line-height: 25px;
  width: 210px;
  float: left;
  display: block;
  margin: 10px 0 0 30px;
}
.pathinfo .p .title {
  width: 80px;
  float: left;
  color: #333;
  margin-left: 15px;
  font-weight: 800;
  color: #444;
}
.pathinfo .p .content {
  float: left;
  width: 210px;
  word-break: break-all;
  color: #666;
  -moz-user-select: text;
  -webkit-user-select: text;
}
/* 压缩信息显示 */
.zipinfo {
  width: 250px;
  height: 150px;
  overflow: auto;
  word-break: break-all;
  overflow-x: hidden;
  padding-left: 10px;
}
.unzipinfo {
  width: 250px;
  height: 150px;
  overflow: auto;
  word-break: break-all;
  overflow-x: hidden;
  padding-left: 10px;
}
.unzipinfo li {
  list-style: none;
  color: #ff0;
  font-size: 12px;
  overflow: hidden;
}
.picture img {
  width: 65px;
  height: 65px;
}
/* 弹出对话框css3 效果 */
table.aui_border,
table.aui_dialog {
  -webkit-animation-name: fadein;
  -webkit-animation-duration: 0.2s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
}
@-webkit-keyframes fadein {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.8;
  }
}
.file_drag_upload .aui_content {
  overflow-y: scroll;
}
.fileuploadinfo,
.fileupload {
  color: #555;
  font-size: 13px;
}
.fileuploadinfo {
  font-size: 18px;
  color: #5499D9;
  margin-bottom: 8px;
  border-bottom: 1px solid #dde;
  padding-bottom: 6px;
}
.fileuploadinfo em {
  font-size: 12px;
}
.fileupload {
  padding-left: 25px;
}
.fileupload span.status {
  padding-left: 10px;
  font-size: 10px;
  color: #f96;
}
.file_list {
  display: none;
}
#body {
  position: absolute;
  width: 100%;
  top: 40px;
  /*收藏夹页面*/

}
#body ul {
  margin: 0;
  padding: 0;
}
#body li {
  margin: 0;
  padding: 0;
}
#body .font-icon {
  padding-right: 0.8em;
}
#body .menu_left {
  position: fixed;
  z-index: 999;
  top: 38px;
  left: 0;
  height: 100%;
  width: 15%;
  padding: 10px;
  border-right: 1px solid #ddd;
}
#body .menu_left h1 {
  width: 100%;
  height: 60px;
  border-bottom: 1px solid #f2f2f2;
  margin: 0 auto;
  margin-bottom: 15px;
  margin-top: 10px;
  text-align: center;
  font-size: 35px;
  font-weight: 800;
  letter-spacing: 3px;
  background: #666;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;
  text-shadow: rgba(255, 255, 255, 0.5) 0px 3px 3px;
}
#body .menu_left .setting li {
  height: 40px;
  text-shadow: 0 0 2px #ccc;
  line-height: 40px;
  box-sizing: border-box;
  text-indent: 5px;
  color: #444;
  display: block;
  overflow: hidden;
  cursor: hand;
  text-transform: capitalize;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -ms-transition: all 0.2s;
  transition: all 0.2s;
  font-size: 15px;
}
#body .menu_left .setting li.hover {
  background: #C6EBFA;
}
#body .menu_left .setting li.selected {
  background: #80DBFF;
  background: #fff\9;
  color: #fff;
  border-left: 5px solid #222;
  padding-left: 15px;
}
#body .main {
  position: absolute;
  left: 20%;
  width: 75%;
  margin: 30px 0 0 20px;
  /*更新记录页面*/

}
#body .main div.h1 {
  font-weight: 400;
  letter-spacing: 2px;
  color: #666;
  padding-bottom: 10px;
  margin: 0;
  font-size: 22px;
  line-height: 40px;
}
#body .main .section {
  padding-bottom: 10px;
  border-top: 1px solid #EEE;
  padding-top: 10px;
  color: #666;
}
#body .main .section .box .line {
  margin-top: 15px;
  margin-bottom: 15px;
}
#body .main .section .box .login {
  border-bottom: 1px dashed #dde;
}
#body .main .section .box .login2 {
  border-bottom: 1px solid #dde;
}
#body .main .section .box .upasswordinfo {
  position: absolute;
  top: 275px;
  color: #bbb;
}
#body .main .section .box .button {
  margin-left: 60px;
  margin-top: 5px;
  padding-left: 15px;
  padding-right: 15px;
}
#body .main .section .box span {
  display: block;
  float: left;
  width: 60px;
  line-height: 25px;
}
#body .main .section .box input {
  display: block;
  width: 200px;
  border-radius: 2px;
  border: 1px solid #AAA;
  padding: 4px;
  font-weight: 800;
  color: #446;
}
#body .main .section h3 {
  font-size: 14px;
  font-weight: bold;
  width: 140px;
  float: left;
}
#body .main .section label {
  display: block;
}
#body .main .savebox {
  border-top: 1px solid #eee;
  margin-bottom: 10px;
}
#body .main .savebox a.save {
  margin-left: 5px;
  margin-top: 5px;
  padding: 4px 20px;
  letter-spacing: 2px;
}
#body .main .list {
  float: left;
  width: 120px;
  background: #fff;
  margin-right: 4px;
  height: 90px;
  border: 2px solid #fcfcfc;
  margin-bottom: 5px;
  cursor: pointer;
}
#body .main .list .ico {
  width: 100px;
  height: 65px;
  margin: 5px 10px;
  border: 1px solid #ddd;
  background-color: #fff;
}
#body .main .list .info {
  text-align: center;
  color: #aaa;
  margin: 0px;
  margin-top: -5px;
}
#body .main .list .ico img {
  width: 100px;
  height: 65px;
}
#body .main .list.this {
  border: 2px solid #777;
  background-color: #eee;
}
#body .main .list.this .info {
  color: #777;
}
#body .main .list.listhover {
  border: 2px solid #777;
  background-color: #eee;
}
#body .main .content {
  word-break: break-all;
  color: #448;
}
#body .main .content h2 {
  border-bottom: 1px dashed #eef;
  padding-bottom: 5px;
  margin-bottom: 5px;
  font-weight: 400;
  font-size: 16px;
}
#body .main .content p {
  margin-left: 5px;
  text-indent: 2em;
  margin-bottom: 8px;
  color: #666;
}
#body .main fieldset {
  margin-top: 10px;
  border: solid 1px #f2f2f2;
  padding: 10px;
  color: #448;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
#body .main fieldset legend {
  padding: 3px 20px;
  color: #FFF;
  background: #888;
  font-size: 15px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
#body .main fieldset span {
  display: block;
  background: #eee;
  width: 100px;
  color: #224;
  padding: 1px 0 3px 10px;
  margin-top: 10px;
  font-size: 14px;
  border-left: 5px solid #777;
}
#body .main fieldset .line {
  margin: 0px;
  height: 1px;
  width: 100%;
  border-bottom: 1px solid #eee;
  margin-bottom: 10px;
  margin-top: -1px;
  _margin-top: -21px;
}
#body .main .content li,
#body .main fieldset li {
  line-height: 2em;
  list-style-type: none;
  margin-left: 10px;
  padding-left: 25px;
  color: #666;
  word-break: break-all;
}
#body .main .content li:before,
#body .main fieldset li:before {
  font-family: FontAwesome;
  content: "\f006";
  padding-right: 10px;
  text-shadow: 0 0 1px;
}
#body table {
  font-size: 13px;
  color: #888;
  width: 100%;
  margin: 0px;
  border: 1px solid #ccc;
}
#body table tr {
  border-bottom: 1px solid #ddd;
  background: #fcfcfc;
}
#body table tr input {
  display: block;
  border: 1px solid #ddd;
  padding: 2px;
  height: 30px;
  width: 80%;
  color: #888;
  padding-left: 5px;
}
#body table tr.title {
  background: #eee;
  color: #224;
}
#body table tr.title td {
  border-bottom: 1px solid #ddd;
  font-weight: 800;
}
#body table tr.title span {
  color: #999;
  font-size: 13px;
  padding-left: 4px;
  font-weight: 400;
}
#body table tr td {
  border-bottom: 1px solid #eee;
  line-height: 2.5em;
  height: 2.5em;
  padding-left: 3%;
}
#body table tr td.name {
  width: 30%;
}
#body table tr td.name,
#body table tr td.path {
  border-right: 1px solid #ddd;
}
#body table tr td.action {
  line-height: 1.3em;
  width: 30%;
}
#body table tr td.action a {
  margin-right: 5px;
}
#body a.add {
  display: block;
  text-align: center;
  text-decoration: none;
  background: #f6f6f6;
  line-height: 2em;
  height: 2em;
  border: 1px solid #ccc;
  border-top: none;
  color: #555;
}
#body a.add:hover {
  background: #eee;
}
#body a.button {
  text-decoration: none;
  cursor: pointer;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 5px;
  font-size: 13px;
  letter-spacing: 1px;
  display: inline-block;
  border-radius: 2px;
  text-align: center;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -ms-transition: all 0.2s;
  transition: all 0.2s;
  border: 1px solid #ddd;
  width: 60px;
  background: #f6f6f6;
  color: #222;
}
#body a.button:hover {
  background: #C6EBFA;
  border: 1px solid #C6EBFA;
}
#body a.button:active {
  background: #444;
  color: #fff;
  border: 1px solid #eee;
  border-radius: 2px;
}
